node_modules
local-config.js
*.swp
*.log
*.pem
modules/*/public/css
modules/*/public/js/build
.idea/
next/.next/
nextFront/.next/
package-lock.json

modules/admin/dist/main.js
modules/admin/dist/style.css

modules/widget/dist/widget.js
modules/widget/dist/style.css

modules/roadmap/dist/main.js
modules/roadmap/dist/style.css

report-admin.txt
report-widget.txt
report-roadmap.txt